 /* Utilitiy classes */
.spin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}
.d-flex{
  display: flex;
}
.align-center-v{
  display: flex;
  align-items: center;
}
.line-height-0{
  line-height: 0;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}


/* default card style */

.ant-card-head{
  padding-left: 25px !important;
  padding-right: 25px !important;
}


/* ant radio group */
.ant-radio-button-wrapper-checked{
  color: #fff !important;
}