 /* Utilitiy classes */
.spin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}
.d-flex{
  display: flex;
}
.align-center-v{
  display: flex;
  align-items: center;
}
.line-height-0{
  line-height: 0;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}


/* default card style */
.ant-card{
  border-radius: 10px !important;
  box-shadow: 0 5px 20px rgba(146,153,184,0.03);
}
.ant-card-head{
  border-radius: 10px 10px 0 0 !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.ant-card-body{
  border-radius: 0 0 10px 10px !important;
}