/* Utilitiy classes */

.spin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}

.d-flex {
  display: flex;
}

.flex-grid .flex-grid-child {
  padding: 0 12px;
}

.align-center-v {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.line-height-0 {
  line-height: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.m-0 {
  margin: 0 !important;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
/* default card style */

.ant-card-body {
  padding: 25px !important;
}

.ant-card-head {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.ant-card-head-title span {
  display: inline-block;
  margin-left: 15px;
  font-size: 11px;
  color: #868EAE;
}
.ant-card-head .ant-card-extra{
  display: flex;
  align-items: center;
}
.ant-card-head .ant-card-extra a{
  color: #868EAE;
}
.ant-card-extra .ant-dropdown-trigger{
  line-height: 0;
  order: 1;
  margin-left: 20px;
}


/* ant radio group */

.ant-radio-button-wrapper-checked {
  color: #fff !important;
}

/* card nav */

.card-nav ul {
  list-style: none;
  display: flex;
  margin: 0 -8px;
}

.card-nav ul li {
  margin: 0 8px;
  position: relative;
}

.card-nav ul li a {
  color: #868EAE;
  font-size: 12px;
}

.card-nav ul li.active a {
  color: #5F63F2;
}

.card-nav ul li.active:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #5F63F2;
  left: 0;
  bottom: -19px;
}

/* chart growth upward */

.growth-downward p, .growth-upward p {
  font-size: 14px;
  color: #868EAE;
  margin: 0;
}

.growth-downward h1 sub, .growth-upward h1 sub {
  font-size: 14px;
  font-weight: 600;
  left: 5px;
  bottom: 0;
}

.growth-downward h1,
.growth-upward h1{
  font-size: 22px;
  margin: 6px 0 0;
}
.growth-downward h1 sub {
  color: #FF4D4F;
}

.growth-upward h1 sub {
  color: #20C997;
}

/* progressbars */

.ant-progress {
  display: inline-flex !important;
  align-items: center;
}

.ant-progress>div {
  display: flex;
  flex-direction: column;
}

.ant-progress .ant-progress-outer {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.ant-progress .ant-progress-text {
  order: 0;
  margin-left: 10px;
  align-self: flex-end;
  text-align: right;
}
.ant-progress-status-warning .ant-progress-bg {
  background: #FA8B0C;
}
/* progress primary */
.progress-primary .ant-progress-bg{
  background: #5F63F2;
}

/* color classes */
.color-primary {
  color: #5F63F2;
}

.color-secondary {
  color: #FF69A5;
}

.color-info {
  color: #2C99FF;
}

.color-warning {
  color: #FA8B0C;
}

.color-success {
  color: #20C997;
}

.color-danger {
  color: #FF4D4F;
}

.color-dark {
  color: #272B41;
}

.color-error {
  color: #f5222d;
}

.color-gray {
  color: #5A5F7D;
}

/* Button Styles */

.button-example .ant-btn {
  margin: 4px;
}

.button-example .ant-btn-group .ant-btn {
  margin: 0;
}

.ant-btn-white {
  color: #5A5F7D;
  border-color: #E3E6EF;
}

.ant-btn-white:hover {
  color: #5F63F2;
  background-color: #fff;
  border-color: #fff;
}

.ant-btn-link {
  background-color: #fff;
  border-color: #fff;
  color: #5F63F2
}

.ant-btn-link:hover {
  border-color: #fff;
  background: #fff;
}

.ant-btn-light, 
.ant-btn-light:hover, 
.ant-btn-link:hover, 
.ant-btn-dashed {
  color: #5A5F7D
}

.ant-btn-dashed:hover {
  color: #5F63F2;
  border: 1px dashed #5F63F2;
}

.ant-btn-primary[disabled] {
  color: #fff;
  background: #5F63F260;
}
.ant-btn-light {
  background: #F4F5F7 !important;
  border-color: #F4F5F7 !important;
}
.ant-btn-light[disabled] {
  background: #fff;
}

.ant-btn-round.ant-btn-sm{
  height: 38px;
}

.btn-icon{
  padding: 0 12px;
}

.btn-inc,
.btn-dec{
  height: 38px;
  width: 38px;
  font-size: 20px;
  padding: 0 12px;
  border-radius: 10px;
  border: 0 none;
}

.btn-inc:hover,
.btn-dec:hover{
  background: #5F63F210 !important;
  border: 0 none !important;
}

.btn-inc:hover i,
.btn-inc:hover svg,
.btn-dec:hover i,
.btn-dec:hover svg{
  color: #5F63F2;
}

/* input styles */

.ant-form-item-label>label {
  font-weight: 500;
}

/* Calendar Styles */

.ant-picker-calendar-header .ant-select-selector {
  height: 32px !important;
}

.ant-picker-calendar-header .ant-select-selection-search-input {
  height: 30px !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 30px !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #fff !important;
  color: #5F63F2 !important;
}

/* pagination */

.ant-pagination .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 32px !important;
}

.ant-pagination .ant-pagination-options .ant-select-selection-item {
  line-height: 30px !important;
}

.ant-pagination .ant-pagination-options .ant-pagination-options-quick-jumper {
  height: 30px;
  line-height: 30px;
}

.ant-pagination .ant-pagination-options .ant-pagination-options-quick-jumper input {
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.ant-pagination .ant-select-single .ant-select-selector .ant-select-selection-item{
  line-height: 30px !important;
}
.ant-pagination .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
  height: 100% !important;
}

/* radio style */

.ant-radio-checked .ant-radio-inner {
  border-width: 5px !important;
}

.ant-radio-inner::after {
  content: none !important;
}

/* rate */
.ant-rate-star.ant-rate-star-zero span svg{
  color: #C6D0DC;
}
.ant-rate-star:not(:last-child) {
  margin-right: 2px !important;
}

/* result */

.ant-result-icon {
  margin-bottom: 20px !important;
}

.ant-result-title {
  font-weight: 500;
  margin-bottom: 10px;
}

/* form select */
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 35px !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 33px !important;
}

.ant-select-multiple .ant-select-selector {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}


/* Nasted Comments Styles */
.nested-comment-wrapper .comment-title{
  font-size: 12px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  border-bottom: 1px solid #E3E6EF;
}
/* calendar style */
.events{
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

/* Breadcrumb demo */

.demo {
  margin: 16px;
}

.demo-nav {
  height: 30px;
  line-height: 30px;
  margin-bottom: 16px;
  background: #f8f8f8;
}

.demo-nav a {
  line-height: 30px;
  padding: 0 8px;
}

.app-list {
  margin-top: 16px;
}

/* slider */

.ant-slider-handle {
  margin-top: -6px !important;
}

/* tags */

.ant-tag {
  font-weight: 600;
  padding: 0 9.5px
}

/* tabs */

.ant-tabs-tab span {
  display: flex;
  align-items: center;
}

.ant-tabs-tab span svg {
  padding-right: 5px;
}

/* list */
.ant-list-bordered{
  border-color: #E3E6EF !important;
}
.ant-list-item-meta {
  padding: 10px 24px;
  border-bottom: 1px solid #F1F2F6;
}

/* popover */
.ant-popover-inner{
  padding: 15px;
}

/* mail props dropdown */
.mail-props{
  padding: 25px;
  border: 0 none;
  background: #fff;
  box-shadow: 0 5px 40px rgba(146,153,184,0.25);
}
.mail-props p{
  margin-bottom: 5px;
}
.mail-props p:last-child{
  margin-bottom:0;
}
.mail-props p span{
  color: #9299b8;
}

/* Cascade Styles */
.custom-cascade-render .ant-cascader-picker{
  width: 100%;
}

/* Comment Styles */
.ant-comment-actions li{
  margin-bottom: 0 !important;
}

/* Radio Vertical Button */
.ant-radio-vertical .ant-radio-wrapper{
  display: block;
}

.ant-radio-vertical .ant-radio-wrapper:not(:last-child){
  margin-bottom: 14px;
}

/* Select Tree */
.ant-select-tree-list .ant-select-tree-node-content-wrapper:hover{
  background-color: #BAE7FF !important;
}

.ant-select-tree-list .ant-select-arrow svg{
  font-size: 10px;
}

.ant-tree-select.ant-select-multiple .ant-select-selection-item{
  border: 0 none;
  border-radius: 3px;
  background: #F4F5F7;
  color: #5A5F7D;
  font-weight: 500;
}

/* Ant Switch */
.ant-switch:after{
  width: 14px !important;
  height: 14px !important;
}

.ant-switch-small:after{
  width: 10px !important;
  height: 10px !important;
}

/* Time Picker */
.ant-picker{
  min-width: 250px;
}

/* Input Affix */

.ant-input-affix-wrapper > input.ant-input{
  padding-left: 5px;
}
.ant-input-affix-wrapper .ant-input-prefix svg{
  color: #E3E6EF;
}

/* Space Item */
.ant-space-item .ant-btn span{
  font-size: 14px;
}

/* Pop confirm */
.pop-confirm .ant-btn{
  max-width: 90px;
  padding: 0px 35.5px;
  height: 44px;
}
.pop-confirm-top{
  margin-bottom: 10px;
}
.pop-confirm-bottom{
  margin-top: 10px;
}
.pop-confirm-top .ant-btn:not(:last-child),
.pop-confirm-bottom .ant-btn:not(:last-child){
  margin-right: 10px;
}
.pop-confirm-left .ant-btn:not(:last-child),
.pop-confirm-right .ant-btn:not(:last-child){
  margin-bottom: 10px;
}

/* Ant Upload */
.ant-upload .ant-btn{
  font-size: 14px;
}

/* Ant Picker */
.ant-picker{
  border-color: #E3E6EF !important;
}

/* Ant Dropdown */
.ant-dropdown{
  box-shadow: 0 5px 30px #9299B820;
  border: 0 none;
}

.ant-dropdown a{
  font-weight: 400;
  color: #5A5F7D;
  background: #5F63F205;
}

.ant-dropdown div{
  box-shadow: 0 0;
  border-radius: 5px;
}

/* Leaflet COntainer */
.leaflet-container{
  z-index: 0;
}

/* Full Width Table */

.full-width-table .ant-card-body{
  padding: 0 !important;
}

.full-width-table .ant-table{
  border-radius: 10px !important;
}

.full-width-table .revenue-table{
  min-height: 580px;
}

.full-width-table .top-seller-table{
  min-height: 405px;
}

/* Rich TextEditor  */

.RichTextEditor__root___2QXK- .EditorToolbar__root___3_Aqz{
  margin: 0;
  border-color: #F1F2F6;
}
.RichTextEditor__root___2QXK- .ButtonWrap__root___1EO_R button{
  padding: 0;
  border: 0 none;
  background: #fff;
  margin-right: 8px;
}
.RichTextEditor__root___2QXK- .Dropdown__root___3ALmx .Dropdown__value___34Py9{
  border: 0 none;
}
.RichTextEditor__root___2QXK- .Dropdown__root___3ALmx .select{
  border-right-width: 0px;
}
.RichTextEditor__editor___1QqIU .DraftEditor-editorContainer {
  border: 0 none;
}