/* Grid layout */
.ant-row{
  display: flex;
  flex-wrap: wrap;
}
.ant-col{
  float: none !important;
}
.ant-col-1{
  flex: 0 0 4.16666667%;
  width: 4.16666667%;
}
.ant-col-2{
  flex: 0 0 8.33333333%;
  width: 8.33333333%;
}
.ant-col-3{
  flex: 0 0 12.5%;
  width: 12.5%;
}
.ant-col-4{
  flex: 0 0 16.66666667%;
  width: 16.66666667%;
}
.ant-col-5{
  flex: 0 0 20.83333333%;
  width: 20.83333333%;
}
.ant-col-6{
  flex: 0 0 25%;
  width: 25%;
}
.ant-col-7{
  flex: 0 0 29.16666667%;
  width: 29.16666667%;
}
.ant-col-8{
  flex: 0 0 33.33333333%;
  width: 33.33333333%;
}
.ant-col-9{
  flex: 0 0 37.5%;
  width: 37.5%;
}
.ant-col-10{
  flex: 0 0 41.66666667%;
  width: 41.66666667%;
}
.ant-col-11{
  flex: 0 0 45.83333333%;
  width: 45.83333333%;
}
.ant-col-12{
  flex: 0 0 50%;
  width: 50%;
}
.ant-col-13{
  flex: 0 0 54.16666667%;
  width: 54.16666667%;
}
.ant-col-14{
  flex: 0 0 58.33333333%;
  width: 58.33333333%;
}
.ant-col-15{
  flex: 0 0 62.5%;
  width: 62.5%;
}
.ant-col-16{
  flex: 0 0 66.66666667%;
  width: 66.66666667%;
}
.ant-col-17{
  flex: 0 0 70.83333333%;
  width: 70.83333333%;
}
.ant-col-18{
  flex: 0 0 75%;
  width: 75%;
}
.ant-col-19{
  flex: 0 0 79.16666667%;
  width: 79.16666667%;
}
.ant-col-20{
  flex: 0 0 83.33333333%;
  width: 83.33333333%;
}
.ant-col-21{
  flex: 0 0 87.5%;
  width: 87.5%;
}
.ant-col-22{
  flex: 0 0 91.66666667%;
  width: 91.66666667%;
}
.ant-col-23{
  flex: 0 0 95.83333333%;
  width: 95.83333333%;
}
.ant-col-24{
  flex: 0 0 100%;
  width: 100%;
}

/* Utilitiy classes */
.spin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}
.d-flex{
  display: flex;
}
.flex-grid .flex-grid-child{
  padding: 0 12px;
}
.align-center-v{
  display: flex;
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.line-height-0{
  line-height: 0;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.m-0{
  margin: 0 !important;
}


/* default card style */
.ant-card-body{
  padding: 25px !important;
}
.ant-card-head{
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.ant-card-head-title span{
  display: inline-block;
  margin-left: 15px;
  font-size: 11px;
  color: #868EAE;
}
.ant-card-head .ant-card-extra a{
  color: #868EAE;
}

/* ant radio group */
.ant-radio-button-wrapper-checked{
  color: #fff !important;
}

/* card nav */
.card-nav ul{
  list-style: none;
  display: flex;
  margin: 0 -8px;
}
.card-nav ul li{
  margin: 0 8px;
  position: relative;
}
.card-nav ul li a{
  color: #868EAE;
  font-size: 12px;
}
.card-nav ul li.active a{
  color: #5F63F2;
}
.card-nav ul li.active:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #5F63F2;
  left: 0;
  bottom: -18px;
}

/* chart growth upward */
.growth-downward p,
.growth-upward p{
  font-size: 14px;
  color: #868EAE;
  margin: 0;
}
.growth-downward h1 sub,
.growth-upward h1 sub{
  font-size: 14px;
  font-weight: 600;
  left: 5px;
  bottom: 0;
}
.growth-downward h1 sub{
  color: #FF4D4F;
}
.growth-upward h1 sub{
  color: #20C997;
}

/* progressbars */
.ant-progress > div{
  display: flex;
  flex-direction: column;
}
.ant-progress .ant-progress-outer{
  margin-right: 0 !important;
  padding-right: 0 !important;
  order: 1;
}
.ant-progress .ant-progress-text{
  order: 0;
  margin-left: 0;
  align-self: flex-end;
  text-align: right;
}
.ant-progress-status-warning .ant-progress-bg{
  background: #FA8B0C;
}

/* color classes */
.color-primary{
  color: #5F63F2;
}
.color-secondary{
  color: #FF69A5;
}
.color-info{
  color: #2C99FF;
}
.color-warning{
  color: #FA8B0C;
}
.color-success{
  color: #20C997;
}
.color-danger{
  color: #FF4D4F;
}
.color-dark{
  color: #272B41;
}
.color-error{
  color: #f5222d;
}
.color-gray{
  color: #5A5F7D;
}
<<<<<<< HEAD

/* Button Styles */

.ant-btn-white{
  background-color: #fff;
  border-color: #fff;
  color: #5A5F7D;
}

.ant-btn-white:hover{
  color: #5F63F2;
  border-color: #fff;
}

.ant-btn-link{
  background-color: #fff;
  border-color: #fff;
  color: #5F63F2
}

.ant-btn-link:hover{
  color: #5A5F7D;
  border-color: #fff;
  background-color: #fff;
}

.ant-btn-light,
.ant-btn-light:hover{
  color: #5A5F7D
}

.ant-btn-dashed{
  color: #5A5F7D;
  border: 1px dashed #E3E6EF;
}

.ant-btn-dashed:hover{
  color: #5F63F2;
  border: 1px dashed #5F63F2;
=======
.color-light{
  color: #9299B8;
}

/* statistics */
.ant-statistic-title{
  color: #9299B8 !important;
}
.ant-statistic-content-value-int{
  font-size: 20px;
>>>>>>> 6ab08ff6a918e530242782e9000d30fb5d1f9a79
}